* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-blue: #15151d;
  --color-blue-primary: #4353ff;
  --color-blue-highlight: #0056fb;
  --color-blue-shadow: #3946d1;
  --color-gray: #55555a;
}

body {
  background-color: var(--color-blue);
}

nav li {
  list-style: none;
  color: white;
}

#movile-nav {
  transition: 2s ease-in-out;
}

.mobile-nav__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mobile-nav__header > * {
  margin: 10px 20px;
}

.hamburger-icon.clicked {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger-icon rect {
  transition: 0.5s ease-in-out;
}

.hamburger-icon.clicked #hamburger-icon__top {
  transform-origin: center left;
  transform: translateY(-6px) rotateZ(+43deg);
  transition: 0.5s ease-in-out;
}

.hamburger-icon.clicked #hamburger-icon__center {
  opacity: 0;
}

.hamburger-icon.clicked #hamburger-icon__bottom {
  transform-origin: center left;
  transform: translateY(6px) rotateZ(-43deg);
  transition: 0.5s ease-in-out;
}

.mobile-nav__items-list {
  background-color: var(--color-gray);
  width: 100%;
  margin: 10px 0;
  display: none;
  opacity: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.displayed {
  display: flex;
  opacity: 1;
  height: 100%;
}

.nav-item-m {
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

.nav-item-m:nth-child(odd) {
  border-top: 2px solid var(--color-blue-primary);
  border-bottom: 2px solid var(--color-blue-primary);
}

#desktop-nav {
  display: none;
}

@media screen and (min-width: 600px) {
  #mobile-nav {
    display: none;
  }

  #desktop-nav {
    display: flex; /* ? */
  }
}

main { 
  margin-top: calc(50vh - (211px/2) - 64px);
}

main > #value-proposition {
  color: white;
  text-align: center;
  display: block;
}

main > #description {
  color: white;
  opacity: 0.7;
  text-align: center;
  margin-top: 2rem;
  display: block;
}

main > #inv {
  background-color: var(--color-blue-primary);
  border: none;
  border-radius: 100px;
  color: white;
  display: block;
  margin: 2rem auto 0 auto;
  height: 3.5rem;
  width: 12rem;
}

main > .stats-container {
  display: flex;
  justify-content: center;
}

main > .stats-container > img {
  height: 20px;
  margin-right: 0.5rem;
}

main > .stats-container > h2 {
  color: white;
  font-size: 0.8rem;
}

main > .stats-container > span {
  font-size: 2rem;
}