//THEME COLORS
$theme-blue-light: #008CFF;
$theme-blue: #006FDD;
$theme-blue-dark: #0054BC;

$theme-green-light: #7ED56F;
$theme-green: #52AA47;
$theme-green-dark: #23801F;

$theme-red-light: #A01F25;
$theme-red: #972025;
$theme-red-dark: #7A2226;


//COLORS
$color-green: #55c57a;
$color-green-light: #7ed56f;
$color-green-dark: #28b485;

$color-yellow: #ffb900;
$color-orange: #ff7730;

$color-blue: #1e90ff;
$color-purple: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #444;

$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.8rem;

//CUBIC-BEZIER FUNCTIONS
$easeInOutQuint: cubic-bezier(.86, 0, .07, 1);
$easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);

//BORDER RADIUS
$border-radius: 3px;


/* 
https://mycolor.space/


SAMPLE BLUE PALLETTES
Based on: #008CFF

Shades
#008CFF
#006FDD
#0054BC
#003A9C
#00237E

Generic gradient
#008CFF
#00B2FF
#00D0EE
#00E5BA
#8EF388
#F9F871

Matching gradient
#008CFF
#667AE9
#8769D0
#9A58B4
#A24998
#A33C7C

Skip shade gradient
#008CFF
#00BBFF
#00DEED
#71FACA


SAMPLE GREEN PALLETTES
Based on: #7ED56F

Shades
#7ED56F
#52AA47
#23801F
#005800
#003200

Generic Gradient
#7ED56F
#34BC84
#00A08E
#00828A
#176477
#2F4858

Matching Gradient
#7ED56F
#00C488
#00B0A1
#009AB2
#0081B5
#0067AA

Skip Shade Gradient
#7ED56F
#BBD766
#EDD76F
#FFD786

*/