//COLORS
$color-green: #55c57a;
$color-green-light: #7ed56f;
$color-green-dark: #28b485;

$color-yellow: #ffb900;
$color-orange: #ff7730;

$color-blue: #1e90ff;
$color-purple: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #444;


$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.8rem;

//CUBIC-BEZIER FUNCTIONS
$easeInOutQuint: cubic-bezier(.86, 0, .07, 1);
$easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);

//BORDER RADIUS
$border-radius: 3px;


/* SAMPLE BLUE PALLETTES

https://mycolor.space/
Based on: #008CFF

Generic gradient

#008CFF
#00B2FF
#00D0EE
#00E5BA
#8EF388
#F9F871


Matching gradient

#008CFF
#667AE9
#8769D0
#9A58B4
#A24998
#A33C7C


Skip gradient

#008CFF
#71FACA
#2CC194
#008A61


Skip shade gradient

#008CFF
#00BBFF
#00DEED
#71FACA


Shades

#008CFF
#006FDD
#0054BC
#003A9C
#00237E

*/