.footer {
    background-color: $color-grey-dark-3;
    color: $color-grey-light-1;
    padding: 8rem 2rem;
    line-height: 2.5rem;

    &__logo-box {
        text-align: center;
        margin-bottom: 8rem;
    }

    &__logo {
        width: 15rem;
        height: auto;
    }

    &__content {
        width: 100%;
    }

}