header {
    position: sticky;
    top: 0;
    z-index: 10;

    @include respond($phone) {
        position: fixed;
        top: 100vh;
        transform: translateY(-90%);
        width: 100%;
    }
}

header nav {    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 1.5rem 4rem;

    svg {
        width: 6rem;
        height: 6rem;
        
        .inner {
            fill: $theme-blue-light;
        }

        .middle {
            fill: $theme-blue;
        }

        .outer {
            fill: $theme-blue-dark;
        }
    }

    ul {
        display: flex;
        list-style: none;
        text-align: right;

        li {
            font-size: 2rem;
        }

        span {
            margin: 0 2rem;
        }
    }

    @include respond($phone) {

        svg {
            display: none;
        }

        ul {
            width: 100%;
            justify-content: space-around;
        }
    }

    @include respond(400px) {
        padding: 1.5rem 2rem;

        ul {
            justify-content: space-between;
        }

        span {
            display: none;
        }
    }
}