*,
*::before,
*::after {
    margin: 0;
    box-sizing: inherit;
}

html {
    //What 1rem equals
    font-size: 62.5%; //1rem = 10px, 10px / 16px = 62.5%

    @include respond($tablet-landscape) {
        font-size: 56.25%; //1rem = 9px, 9px / 16px = 56.25%
    }

    @include respond($tablet-portrait) {
        font-size: 50%; //1rem = 8px, 8px / 16px = 50%
    }

    @include respond($big-desktop) {
        font-size: 75%; //1rem = 12px, 12px / 16px = 75%
    }
}

body {
    min-height: 100vh;
    box-sizing: border-box;
    background-color: $color-white;
}