main {
    padding: 6rem;
    padding-left: 12rem;

    @include respond($phone) {
        padding: 4rem 6rem;
    }

    @include respond(400px) {
        padding: 3rem 4rem;
    }
}

section.about {
    //styles go here
}