/*

Primary: #29d2b5
Light: #6effe7
Dark: #00a085

*/

body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px
}

h1,
h2,
h3 {
    font-family: Simplifica;
    line-height: 1.2
}

a {
    text-decoration: none;
    color: rgb(0, 140, 255);
}

a:visited {
    color: rgb(153, 0, 255);
}