<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aztec server list</title>
</head>
<body>
    <% if(guild) { %>
        Guild "<%=guild.name %>". Voted: <%=guild.voted ? "Yes" : "No" %>. Are you in group? <%=userGuild ? "Yes" : "No" %>
        votes: <%=guild.votes %>
    <% } else { %>
        Not found
    <% } %>
</body>
</html>