<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aztec server list</title>
</head>
<body>
    Public guilds:
    <table>
        <tr>
            <th>Name</th>
            <th>Member count</th>
        </tr>
        <% for(var guild of guilds) { %>
            <tr>
                <td><a href="/list/<%=guild.id %>"><%=guild.name %></a></td>
                <td><%=guild.member_count %></td>
            </tr>
        <% } %>
    </table>
    <% if(!guild) var guild = []; %>
    <% if(!guild.length) { %>
        Guild list isn't available
    <% } %>
</body>
</html>